html {
  background-color: black;
  overflow: hidden;
}

canvas {
  border: none;
  outline: none;
}

#menu {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.page-container {
  height: auto;
}

.games-list {
  position:fixed;
  top: 5px;
  right: 20px;
  height: 100vh;
}

.artwork {
  width: auto;
}

.hidden {
  visibility: hidden;
}

.menu-wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-img {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#corner {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50vh;
}

#game {
  text-align: center;
  color: white;
}

#startEmu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: transparent;
  cursor: pointer;
  font-size: 5vw;
  border: 3px solid;
  border-radius: 1vw;
  padding: 1vw;
}

.file-button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  border: none;
  width: 1.7vw;
  z-index: 999999;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

.full-main {
  position: absolute;
  top: 1vh;
  left: 4vw;
  cursor: pointer;
  border: none;
  width: 1.7vw;
  z-index: 999999;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

.login-form-button {
  position: absolute;
  top: 1vh;
  left: 7vw;
  cursor: pointer;
  border: none;
  width: 1.7vw;
  z-index: 999999;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

/* The Login Modal CSS */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Login Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.4s, visibility 0s 0.4s;
}

/* Use to transition & make visible */
.modal.show {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: top 0.4s, opacity 0.4s;
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px 150px; /* from the top and left */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  transition: top 0.4s, opacity 0.4s;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* END of The Login Modal CSS */

@keyframes growonce {
  0% {
    transform: scale(.5,.5) translate(15vw,0);
  }
  100% {
    transform: scale(1.0,1.0) translate(0,0);
  }
}

.grow {
  animation: growonce .3s forwards;
}

.shrink {
  transform: scale(.5,.5) translate(15vw,0);
}

@keyframes growonce-mobile {
  0% {
    transform: scale(.5,.5);
  }
  100% {
    transform: scale(1.0,1.0);
  }
}

.grow-mobile {
  animation: growonce-mobile .3s forwards;
}

.shrink-mobile {
  transform: scale(.5,.5);
}
