html {
  background-color: black;
  overflow: hidden;
}

canvas {
  border: none;
  outline: none;
}

#menu {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.page-container {
  height: auto;
}

.games-list {
  position:fixed;
  top: 5px;
  right: 20px;
  height: 100vh;
}

.artwork {
  width: auto;
}

.hidden {
  visibility: hidden;
}

.menu-wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-img {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#corner {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50vh;
}

#game {
  text-align: center;
  color: white;
}

#startEmu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: transparent;
  cursor: pointer;
  font-size: 5vw;
  border: 3px solid;
  border-radius: 1vw;
  padding: 1vw;
}

.file-button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  border: none;
  width: 1.7vw;
  z-index: 999999;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

.full-main {
  position: absolute;
  top: 1vh;
  left: 4vw;
  cursor: pointer;
  border: none;
  width: 1.7vw;
  z-index: 999999;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

@keyframes growonce {
  0% {
    transform: scale(.5,.5) translate(15vw,0);
  }
  100% {
    transform: scale(1.0,1.0) translate(0,0);
  }
}

.grow {
  animation: growonce .3s forwards;
}

.shrink {
  transform: scale(.5,.5) translate(15vw,0);
}

@keyframes growonce-mobile {
  0% {
    transform: scale(.5,.5);
  }
  100% {
    transform: scale(1.0,1.0);
  }
}

.grow-mobile {
  animation: growonce-mobile .3s forwards;
}

.shrink-mobile {
  transform: scale(.5,.5);
}
