a {
  color: black;
  text-decoration: none;
} 

.page-container {
  height: auto;
}

#side {
  position:fixed;
  width: 15vw;
  top: 5vh;
  left: 0;
  height: 95vh;
  overflow: scroll;
}

#main {
  position:fixed;
  width: 85vw;
  top: 5vh;
  right: 0;
  height: 95vh;
  overflow: scroll;
}

#main table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid black;
}

#main table td,
table th {
  border: 1px solid black;
}

#main table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

#main table td {
  background: #fff;
  text-align: left;
}

#main table tbody th {
  font-weight: 100;
  text-align: left;
  position: relative;
}

#main table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

#main table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

.top {
  position:fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  float: left;
}

.nav-buttons {
  display: flex;
  float: right;
}

.top-item {
  padding: 1vh;
}

.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

#container {
  width: 100%;
  text-align: center; 
}

#container p{
  margin: 0;
}

#left {
  width: 50%;
  float:left;
}

#right {
  width: 50%;
  float:left;
}

.inline {
  float:left;
}

.hidden {
  display: none;
}
